@page
@model MyApp.Namespace.RetiroCamionetasModel
@{
}

<h1>Retirar camioneta</h1>
<form asp-page="RetiroCamionetas" method="post">
    <p>Camioneta:<br />
        <select name="Id">
            @foreach (Camioneta c in Model.camionetas){
                <option value="@c.Id">@c.Patente (@c.Marca @c.Modelo)</option>
            }      
        </select>
    </p>
    <p><button type="submit" value="Agregar">Retirar de mantenimiento</button></p>
</form>